{
    "env": {
        "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "airbnb",
    "rules": {
        "func-names": ["error", "never"]
    },
    "overrides": [{
        "files": ["src/*.js"],
        "excludedFiles": ["*.yml", "*.yaml", "src/public/doc/*", "node_modules/*"]
    }]
}