<div class="card filter">
  <div class="card-header">
    Filter
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Photo -->
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="photo">
          <label class="form-check-label" for="photo">
            Photo
          </label>
        </div>
      </div>
      <!-- end Photo -->
      <!-- contact -->
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="contact">
          <label class="form-check-label" for="contact">
            Contacts
          </label>
        </div>
      </div>

      <!-- end contact -->

      <!-- favourites -->
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="favourites">
          <label class="form-check-label" for="favourites">
            Favourites
          </label>
        </div>
      </div>
      <!-- endfavourites -->

      <!-- distance -->
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <span class="item-label">30</span>
          <input class="form-check-input" type="range" min="30" max="300" value="" id="distance">
          <span class="item-label">300</span>
          <label class="form-check-label" for="distance">
            Distance
          </label>
        </div>
      </div>
      <!-- end distance -->
      <!-- age -->
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <label class="form-control-label" for="start-age">
            <span class="item-label"> Age</span>
          </label>
          <select class="form-control form-control-sm" id="start-height">
            <option *ngFor="let a of ageValues" [value]="h">{{a}}</option>
          </select>
          -
          <select class="form-control form-control-sm" id="end-height">

            <option *ngFor="let a of ageValues" [value]="a">{{a}}</option>


          </select>
        </div>
      </div>


      <!-- end age -->
      <!-- height -->
      <div class="col-md-4">
        <div class="form-check form-check-inline">
          <label class="form-control-label" for="start-age">
            <span class="item-label"> Height</span>
          </label>

          <select class="form-control form-control-sm" id="start-height">
            <option *ngFor="let h of heightValues" [value]="h">{{h}}</option>
          </select>
          -
          <select class="form-control form-control-sm" id="end-height">

            <option *ngFor="let h of heightValues" [value]="h">{{h}}</option>


          </select>



        </div>
      </div>
      <!-- end height -->
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-md-11">
        &nbsp;
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary filter-btn">Filter</button>
      </div>


    </div>

  </div>
</div>
