<div class="row">
  <div *ngFor="let u of users;" class="col-md-4">
    <div class="card">
        <div class="star" [ngClass]="{'is-favorite': u.favourite}">
            <i class="fas fa-star"></i>
          </div>
      <img class="rounded-circle head-shot img-fluid" width="140" height="140" data-src="{{u.photo}}" alt="{{u.displayName}}">
      <h5 class="display-name">{{u.displayName}} , {{u.age}}</h5>
      <p class="title"> {{u.jobTitle}} </p>
      <p class="description"> City: {{u.city.name}} </p>
      <p class="description">Height: {{u.height}} cm</p>
      <p class="description">Religion: {{u.religion}}</p>
      <p class="description">Contacts: {{u.contacts}}</p>
     

      <div class="description" style="color: rgb(255, 51, 0)">
          <i class="fas fa-certificate">  {{u.compatibility * 100}} %</i> Compatibility
        </div>
     
    </div>
  </div>
</div>
<!-- 

displayName: String;
age: number;
jobTitle: String;
height: number;
city: city;
photo: String;
compatibility: number;
contacts: number;
favourite: boolean;
religion: String; -->
